{% extends 'base.html' %}

{% block title %}Каталог книг{% endblock %}

{% block content %}
    <h1>Каталог книг</h1>
    <div class="book-list">
        {% for book in books %}
            <div class="book-card">
                <h2><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></h2>
                <p><strong>Автор:</strong> {{ book.author.name }}</p>
                <img src="{{ book.img_src }}" alt="{{ book.title }}" width="100">
                <p>{{ book.short_desc }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
