{% extends 'books/base.html' %}

{% load static %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <img src="{% static 'books/img/' %}{{ book.img_src }}" alt="{{ book.title }}" width="150">

    <p><strong>Автор:</strong> {{ book.author.name }}</p>

    <p><strong>Дата публикации:</strong> {{ book.publication_date }}</p>
    <p>{{ book.details.description }}</p>

    <h3>Об авторе</h3>
    <img src="{% static 'books/img/' %}{{ book.author.img_src }}" alt="{{ book.author.name }}" width="100">
    <p>{{ book.author.bio }}</p>
{% endblock %}
    